[Unit]
Description=Jenkins Agent
After=syslog.target network.target

[Service]
Type=simple
Environment=JAVA_HOME={{ jenkins_agent_java_home }}
WorkingDirectory={{ jenkins_agent_base_dir }}
User={{ jenkins_agent_jenkins_usr }}
ExecStart={{ jenkins_agent_base_dir }}/jenkins-agent-start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
