#!/usr/bin/env bash

${JAVA_HOME}/bin/java \
-jar {{ jenkins_agent_base_dir }}/agent.jar \
-jnlpUrl {{ jenkins_agent_server_url }}/computer/{{ inventory_hostname }}/jenkins-agent.jnlp \
-secret {{ _jenkins_agent_secret.content | regex_search('(?<=<argument>)[a-f0-9]+(?=</argument>)') }} \
-workDir "{{ jenkins_agent_base_dir }}" \
-failIfWorkDirIsMissing
